body {
  background-color: grey;
  background-image: url(/home/rishabh/Desktop/Rishu-Assignment/faucet-front-end/img/sky-wallpaper-387141-pixahive.webp);
}
.navbar {
  background-color: black;
  border-style: solid;
  height: 65px;
}
.connect {
  margin-top: -60px;
  margin-right: 5px;
  float: right;
  background-color: white;
  color: #e10859;
  font-size: 16px;
  padding: 14px 40px;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.connect:hover {
  background-color: grey;
  color: white;
}
.heading {
  /* background-color: yellow; */
  color: white;
  text-align: center;
}
.address {
  font-size: large;
  border-radius: 12px;
  padding: 1em;
  width: 45em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.send {
  font-size: 16px;
  border-radius: 12px;
  margin-left: 2em;
  padding: 1em;
  background-color: rgb(81, 179, 218);
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.send:hover {
  background-color: blue;
}
.middleBlock {
  background-color: white;
  margin-top: 300px;
  border-radius: 12px;
  border: solid black;
  padding: 3em;
  margin-left: 5em;
  margin-right: 5em;
}
.tdata {
  margin-top: 5em;
  background-color: black;
  border-radius: 12px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}
.input {
  text-align: center;
}
.innertrans {
  border: solid black;
  margin-top: -25px;
  border-radius: 12px;
}
.error {
  margin-top: 5em;
  font-size: x-large;
  text-align: center;
  color: red;
}
.success {
  margin-top: 5em;
  font-size: x-large;
  text-align: center;
  color: green;
}
.links {
  text-align: center;
  margin-top: 4em;
  padding: 3em;
}

/* .main {
} */
